.footer {
    background-color: #f5f5f5;
    padding: 20px 40px;
    margin-top: 30px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-box {
    flex: 1;
    min-width: 250px;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 15px 0 0;
    font-size: 14px;
    color: #777;
  }

  
  @media screen and (max-width: 768px) {
    .footer {
      background-color: #f5f5f5;
      padding: 10px 40px;
      margin-top: 5px;
  }
    .footer-content {
      flex-direction: column;
      gap: 10px;
    }
  
    .footer-box {
      min-width: 100%;
    }
  }
  .footer-bottom img {
    transition: transform 0.2s ease;
    /* font-size: 250px; */
    width: 40px;
    height: 40px !important;
    padding: 5px 5px;
  }
  
  .footer-bottom img:hover {
    transform: scale(1.1);
  }